{% extends "base.html" %}
{% load i18n %}
{% load allauth account %}
{% load static %}
{% block content %}
{% csrf_token %}

    <div class="min-h-screen flex flex-col justify-between bg-[#FFFAF8]">

        <main class="flex items-center justify-center flex-1">
            <div class="bg-[#FCFAF8] p-10 rounded-2xl shadow-md w-full max-w-md text-center">

                <h1 class="text-2xl font-bold mb-6">
                    Senha Alterada
                </h1>

                <p class="text-gray-600 text-sm mb-6">
                    Sua senha foi alterada com sucesso.
                </p>

                <a href="{% url 'account_login' %}"
                   class="inline-block bg-[#D18667] hover:bg-[#c17658] text-white font-semibold py-2 px-6 rounded-md">
                    Ir para Login
                </a>

            </div>
        </main>

    </div>
{% endblock %}