{% load i18n %}
{% load allauth account %}
{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>{% block head_title %}{% endblock head_title %} - Recette</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
        
</head>

<body class="bg-[#FEFBFB] text-[#242424] min-h-screen flex flex-col">

   <header class="flex items-center justify-around mt-[20px] font-[Lora]">
        <div>
            <img class="w-[56px] object-contain" src="{%static 'img/Logo recette sntxt.png'%}" alt="logo header">
        </div>
        <nav class="hidden md:flex gap-[72px] text-[#242424] text-[16px]">
            <a href="{% url 'home' %}" class="hover:text-[#D68D6D]">Home</a>
            <a href="#" class="hover:text-[#D68D6D]">Receitas</a>
            <a href="#" class="hover:text-[#D68D6D]">Sobre</a>
        </nav>

        <div class="hidden md:flex gap-[20px] w-[280px]">
            <a href="{% url 'account_signup' %}" class="flex-1 font-[Lora] text-center px-4 py-2 bg-[#FEFBFB] text-[#D68D6D] rounded-lg shadow text-[16px] hover:bg-[#F3ECEC] transition">Cadastrar</a>
            <a href="{% url 'account_login' %}" class="flex-1 font-[Lora] text-center px-4 py-2 bg-[#D68E6E] text-[#FEFBFB] rounded-lg shadow text-[16px] hover:bg-[#cd8061] transition">Login</a>
          </div>
    
    </header>


    {% block content %}
    <div class="min-h-screen flex flex-col justify-between bg-[#FFFAF8]">

        <section class="flex items-center justify-center flex-1 font-[Montserrat]">
            <div class="bg-[#FAF8F6] p-10 rounded-2xl shadow-md w-full max-w-[600px]">

                <p class="text-[28px] font-bold text-left mb-6">Recuperar Senha</p>

                {% if user.is_authenticated %}
                <div class="mb-4">
                    {% include "account/snippets/already_logged_in.html" %}
                </div>
                {% endif %}

                <p class="text-center text-sm text-gray-500 mt-6">
                    Esqueceu sua senha? Digite seu e-mail abaixo e enviaremos instruções para redefini-la.
                </p>

                {% url 'account_reset_password' as reset_url %}
                <form method="post" action="{{ reset_url }}" class="space-y-6">
                    {% csrf_token %}

                  <div>
                    <label for="{{ form.email.id_for_label }}" class="block font-semibold"></label>
                    {{ form.email|add_class:"w-full h-[48px] px-4 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#D68E6E] focus:border-transparent"|attr:"placeholder:Email" }}
                    {{ form.email.errors }}
                  </div>
                  
                    {{ redirect_field }}

                    <div class="flex justify-center">
                        <button type="submit" class="w-[360px] h-[48px] font-[Lora] bg-[#D68E6E] hover:bg-[#cd8061] text-[#F7F7F7]  rounded-lg ">
                            Redefinir senha
                        </button>
                    </div>
                </form>

                <p class="text-gray-500 text-xs text-center mt-6">
                    Se tiver problemas para redefinir sua senha, entre em contato conosco.
                </p>

            </div>
        </main>

    </div>
    {% endblock content %}

<footer class="bg-[#242424] text-[#FEFBFB] text-sm font-[Montserrat] mt-auto">
    <div class="container mx-auto px-4 py-6 flex flex-col md:flex-row items-center justify-between gap-4">
        <img src="{% static 'img/Logo recette footer.png' %}" alt="Logo" class="w-12" />

        <ul class="flex space-x-4 text-xs uppercase tracking-widest">
            <li><a href="{% url 'home' %}" class="hover:underline">Home</a></li>
            <li><a href="{% url 'lista_receitas' %}" class="hover:underline">Receitas</a></li>
            <li><a href="#" class="hover:underline">Sobre</a></li>
        </ul>

        <div class="flex space-x-3">
            <a href="#" aria-label="Instagram" class="hover:text-gray-300">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="#" aria-label="YouTube" class="hover:text-gray-300">
                <i class="fab fa-youtube"></i>
            </a>
        </div>
    </div>
    <hr class="border-zinc-700" />
    <div class="text-center py-3 text-xs text-gray-400">
        &copy; 2023 Recette.
    </div>
</footer>

</body>

</html>
