{% load i18n %}
{% load allauth account %}
{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>{% block head_title %}{% endblock head_title %} - Recette</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>

<body class="bg-[#FEFBFB] text-[#242424] min-h-screen flex flex-col">

   <header class="flex items-center justify-around mt-[20px] font-[Lora]">
        <div>
            <img class="w-[56px] object-contain" src="{%static 'img/Logo recette sntxt.png'%}" alt="logo header">
        </div>
        <nav class="hidden md:flex gap-[72px] text-[#242424] text-[16px]">
            <a href="{% url 'home' %}" class="hover:text-[#D68D6D]">Home</a>
            <a href="#" class="hover:text-[#D68D6D]">Receitas</a>
            <a href="#" class="hover:text-[#D68D6D]">Sobre</a>
        </nav>

        <div class="hidden md:flex gap-[20px] w-[280px]">
            <a href="{% url 'account_signup' %}" class="flex-1 font-[Lora] text-center px-4 py-2 bg-[#FEFBFB] text-[#D68D6D] rounded-lg shadow text-[16px] hover:bg-[#F3ECEC] transition">Cadastrar</a>
            <a href="{% url 'account_login' %}" class="flex-1 font-[Lora] text-center px-4 py-2 bg-[#D68E6E] text-[#FEFBFB] rounded-lg shadow text-[16px] hover:bg-[#cd8061] transition">Login</a>
          </div>
    
    </header>

    <!-- CONTEÚDO PRINCIPAL -->
    {% block content %}
    <div class="min-h-screen flex flex-col justify-between bg-[#FFFAF8]">

        <main class="flex items-center justify-center flex-1">
            <div class="bg-[#FCFAF8] p-10 rounded-2xl shadow-md w-full max-w-md text-center">

                <h1 class="text-2xl font-bold mb-6">
                    Senha Alterada
                </h1>

                <p class="text-gray-600 text-sm mb-6">
                    Sua senha foi alterada com sucesso.
                </p>

                <a href="{% url 'account_login' %}"
                   class="inline-block bg-[#D18667] hover:bg-[#c17658] text-white font-semibold py-2 px-6 rounded-md">
                    Ir para Login
                </a>

            </div>
        </main>

    </div>
    {% endblock content %}

<footer class="bg-[#242424] text-[#FEFBFB] text-sm font-[Montserrat] mt-auto">
    <div class="container mx-auto px-4 py-6 flex flex-col md:flex-row items-center justify-between gap-4">
        <img src="{% static 'img/Logo recette footer.png' %}" alt="Logo" class="w-12" />

        <ul class="flex space-x-4 text-xs uppercase tracking-widest">
            <li><a href="{% url 'home' %}" class="hover:underline">Home</a></li>
            <li><a href="{% url 'lista_receitas' %}" class="hover:underline">Receitas</a></li>
            <li><a href="#" class="hover:underline">Sobre</a></li>
        </ul>

        <div class="flex space-x-3">
            <a href="#" aria-label="Instagram" class="hover:text-gray-300">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="#" aria-label="YouTube" class="hover:text-gray-300">
                <i class="fab fa-youtube"></i>
            </a>
        </div>
    </div>
    <hr class="border-zinc-700" />
    <div class="text-center py-3 text-xs text-gray-400">
        &copy; 2023 Recette.
    </div>
</footer>

</body>

</html>
