{% extends 'base.html' %}
{% load i18n %}
{% load allauth account %}
{% load static %}
{% block content %}

    <div class="max-w-[1440px] mx-auto">

    <section>
        <!-- svg -->
        <div class="hidden md:block absolute top-0 right-0 -z-10 w-[70%] sm:w-[65%] md:w-[60%] lg:w-[60%] xl:w-[59%] 2xl:w-[59%] max-w-[1000px]">
            <svg viewBox="0 0 990 963" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-full h-auto">
              <path d="M991.249 819.567C991.249 819.567 1005.09 815.266 1005.09 377.811C1005.09 126.306 1005.09 32.3765 1005.09 -104.155C853.156 -104.155 386.325 -104.159 71.3769 -104.157C-110.963 -104.156 78.5282 160.325 399.326 377.811C445.668 409.229 466.814 463.655 527.821 621.997C596.806 801.046 993.354 1003.77 1041.77 943.774C1090.19 883.776 991.248 1041.33 991.249 906.933C991.25 772.537 991.249 952.506 991.249 819.567Z" fill="url(#paint0_linear_244_808)" fill-opacity="0.7"/>
              <defs>
                <linearGradient id="paint0_linear_244_808" x1="1003.35" y1="-61.5495" x2="253.453" y2="531.946" gradientUnits="userSpaceOnUse">
                  <stop stop-color="#D68E6E"/>
                  <stop offset="1" stop-color="#D68E6E" stop-opacity="0.3"/>
                </linearGradient>
              </defs>
            </svg>
          </div>

    <div class="flex flex-col md:flex-row items-center justify-between px-[32px] md:px-[48px] mt-[48px] gap-10">

        <div class="font-[Montserrat] text-center md:text-left text-[#242424]">
        <p class="text-[36px] font-semibold max-w-[700px]">DESCUBRA AS MELHORES RECEITAS PARA QUALQUER OCASIÃO!</p>
        <p class="text-base max-w-[650px]">Mergulhe em uma seleção exclusiva de receitas surpreendentes, perfeitas para transformar cada refeição em uma experiência única.</p>

          {% if not user.is_authenticated %}

        <div class="flex justify-center md:justify-start mt-[8px]">
            <a href="{% url 'account_signup' %}" class="px-[32px] py-[8px] bg-[#D68D6D] text-white rounded-lg shadow text-base md:text-lg hover:bg-[#cd8061] transition text-center w-[220px] font-[Lora]">Cadastrar</a>
        </div>
        
        <p class="text-sm">Já possui uma conta?
        <a href="{% url 'account_login' %}" class="text-sm text-[#D68E6E] hover:underline text-center self-center">Login</a>
        </p>
         

          {% endif  %}
        </div>
        
        <div class="hidden md:block w-[250px] md:w-[350px] lg:w-[450px] flex-shrink-0">
            <img src="{%static 'img/macarronhero.png'%}" alt="Prato" class="w-full h-auto">
        </div>
        </div>
    </section>

    <section class="flex justify-center items-center min-h-[1280px] px-[60px]">   
        <div class="max-w-screen-xl w-full flex flex-col md:flex-row items-center justify-between gap-[36px]">
        <div class="relative">
            <div class="absolute -top-[19px] -left-[14px] w-9 h-9">
              <img src="{%static 'img/Logo.png'%}" alt="Chapéu de Chef" />
            </div>

            <div class="absolute top-2 right-2 bg-[#FEFBFB] bg-opacity-80 rounded-full px-2 py-1 text-xs text-[#242424] shadow">
                👁 250+
              </div>

              <div>
                <img src="{%static 'img/Celular.png'%}" alt="Imagem Celular">
            </div>
        </div>

    
        <div class="text-center font-[Montserrat]">
            <p class="font-semibold text-[36px]">COMPARTILHE SUAS RECEITAS</p>
            <p class="font-medium text-base">Publique suas receitas inspire outras pessoas com seus sabores! Entre, poste sua criação e faça parte dessa comunidade apaixonada por comida.</p>
            <div class="mt-[16px]">
            <a href="{% url 'criar_receita' %}" class="px-[32px] py-[8px] bg-[#D68D6D] text-[#FEFBFB] rounded-lg shadow text-base md:text-lg hover:bg-[#cd8061] transition text-center w-[220px] font-[Lora]">Criar Nova Receita</a>
        </div>
        </div>
            </div>
    </section>

  <section class="px-6 py-12 -mt-12 font-[Montserrat]">
    <div class="flex items-center justify-between ">
      <p class="text-3xl font-semibold text-[#242424] mb-10">EXPLORE RECEITAS</p>
      <a href="{% url 'lista_receitas' %}" class="text-[#D68E6E] hover:underline font-medium mb-1">Ver mais</a>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
      
      <div class="rounded-xl overflow-hidden shadow-sm border border-gray-200">
        <div class="relative">
          <img src="{% static 'img/waffle.png' %}" alt="Waffles com frutas" class="w-full h-48 object-cover" />
          <button class="absolute top-3 right-3 bg-[#FEFBFB] p-1 rounded-[5px] shadow">
            <svg class="w-5 h-5 text-[#242424]" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path d="M5 3v18l7-5 7 5V3z"/>
            </svg>
          </button>
        </div>
        <div class="p-4">
          <div class="flex items-center space-x-1 text-[#D68E6E] text-sm mb-2">
            <span>★ ★ ★ ★ ☆</span>
          </div>
          <p class="text-[#242424] font-medium mb-4">Waffles com frutas</p>
          <a href="{% url 'lista_receitas' %}" class="block w-full text-center bg-[#242424] text-[#FEFBFB] py-2 rounded-lg hover:bg-[#3a2e2a] transition font-[Lora]">
            Ver Receita Completa
          </a>
        </div>
      </div>

   <div class="rounded-xl overflow-hidden shadow-sm border border-gray-200">
        <div class="relative">
          <img src="{% static 'img/panqueca.png' %}" alt="Panqueca" class="w-full h-48 object-cover" />
          <button class="absolute top-3 right-3 bg-[#FEFBFB] p-1 rounded-[5px] shadow">
            <svg class="w-5 h-5 text-[#242424]" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path d="M5 3v18l7-5 7 5V3z"/>
            </svg>
          </button>
        </div>
        <div class="p-4">
          <div class="flex items-center space-x-1 text-[#D68E6E] text-sm mb-2">
            <span>★ ★ ★ ★ ☆</span>
          </div>
          <p class="text-[#242424] font-medium mb-4">Panquecas com calda</p>
          <a href="{% url 'lista_receitas' %}" class="block w-full text-center bg-[#242424] text-[#FEFBFB] py-2 rounded-lg hover:bg-[#3a2e2a] transition font-[Lora]">
            Ver Receita Completa
          </a>
        </div>
      </div>

       <div class="rounded-xl overflow-hidden shadow-sm border border-gray-200">
        <div class="relative">
          <img src="{% static 'img/Chocolate quente.png' %}" alt="Chocolate quente" class="w-full h-48 object-cover" />
          <button class="absolute top-3 right-3 bg-[#FEFBFB] p-1 rounded-[5px] shadow">
            <svg class="w-5 h-5 text-[#242424]" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path d="M5 3v18l7-5 7 5V3z"/>
            </svg>
          </button>
        </div>
        <div class="p-4">
          <div class="flex items-center space-x-1 text-[#D68E6E] text-sm mb-2">
            <span>★ ★ ★ ★ ☆</span>
          </div>
          <p class="text-[#242424] font-medium mb-4">Chocolate quente cremoso</p>
          <a href="{% url 'lista_receitas' %}" class="block w-full text-center bg-[#242424] text-[#FEFBFB] py-2 rounded-lg hover:bg-[#3a2e2a] transition font-[Lora]">
            Ver Receita Completa
          </a>
        </div>
      </div> 

       <div class="rounded-xl overflow-hidden shadow-sm border border-gray-200">
        <div class="relative">
          <img src="{% static 'img/Lasanha.png' %}" alt="Lasanha à bolonhesa" class="w-full h-48 object-cover" />
          <button class="absolute top-3 right-3 bg-[#FEFBFB] p-1 rounded-[5px] shadow">
            <svg class="w-5 h-5 text-[#242424]" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path d="M5 3v18l7-5 7 5V3z"/>
            </svg>
          </button>
        </div>
        <div class="p-4">
          <div class="flex items-center space-x-1 text-[#D68E6E] text-sm mb-2">
            <span>★ ★ ★ ★ ☆</span>
          </div>
          <p class="text-[#242424] font-medium mb-4">Lasanha à bolonhesa</p>
          <a href="{% url 'lista_receitas' %}" class="block w-full text-center bg-[#242424] text-[#FEFBFB] py-2 rounded-lg hover:bg-[#3a2e2a] transition font-[Lora]">
            Ver Receita Completa
          </a>
        </div>
      </div>

       <div class="rounded-xl overflow-hidden shadow-sm border border-gray-200">
        <div class="relative">
          <img src="{% static 'img/Fettuccine.png' %}" alt="Fettuccine" class="w-full h-48 object-cover" />
          <button class="absolute top-3 right-3 bg-[#FEFBFB] p-1 rounded-[5px] shadow">
            <svg class="w-5 h-5 text-[#242424]" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path d="M5 3v18l7-5 7 5V3z"/>
            </svg>
          </button>
        </div>
        <div class="p-4">
          <div class="flex items-center space-x-1 text-[#D68E6E] text-sm mb-2">
            <span>★ ★ ★ ★ ☆</span>
          </div>
          <p class="text-[#242424] font-medium mb-4">Fettuccine com saborosa carbonara</p>
          <a href="{% url 'lista_receitas' %}" class="block w-full text-center bg-[#242424] text-[#FEFBFB] py-2 rounded-lg hover:bg-[#3a2e2a] transition font-[Lora]">
            Ver Receita Completa
          </a>
        </div>
      </div>

       <div class="rounded-xl overflow-hidden shadow-sm border border-gray-200">
        <div class="relative">
          <img src="{% static 'img/Yakisoba.png' %}" alt="Yakisoba" class="w-full h-48 object-cover" />
          <button class="absolute top-3 right-3 bg-[#FEFBFB] p-1 rounded-[5px] shadow">
            <svg class="w-5 h-5 text-[#242424]" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path d="M5 3v18l7-5 7 5V3z"/>
            </svg>
          </button>
        </div>
        <div class="p-4">
          <div class="flex items-center space-x-1 text-[#D68E6E] text-sm mb-2">
            <span>★ ★ ★ ★ ☆</span>
          </div>
          <p class="text-[#242424] font-medium mb-4">Yakisoba</p>
          <a href="{% url 'lista_receitas' %}" class="block w-full text-center bg-[#242424] text-[#FEFBFB] py-2 rounded-lg hover:bg-[#3a2e2a] transition font-[Lora]">
            Ver Receita Completa
          </a>
        </div>
      </div>
      
    </div>
  </section>



</div>

{% endblock %}
